{% include 'server/fields_table.html' with form=form_dict.form %}
<div class='accordion'>
    {% for fd in form_dict.object_form_dicts %}
        {% with accordion_id=fd.form.prefix %}
            <div class='accordion-item'>
                <h2 class='accordion-header' id='{{ accordion_id }}-header'>
                    <button class='accordion-button collapsed' type='button' data-bs-toggle='collapse' data-bs-target='#{{ accordion_id }}' aria-expanded='false' aria-controls='{{ accordion_id }}'>
                        {{ fd.name }}
                    </button>
                </h2>
                <div id='{{ accordion_id }}' class='accordion-collapse collapse' aria-labelledby='{{ accordion_id }}-header'>
                    <div class='accordion-body'>
                        {% include 'server/fields_form.html' with form_dict=fd %}
                    </div>
                </div>
            </div>
        {% endwith %}
    {% endfor %}
    {% for afd in form_dict.array_form_dicts %}
        <div class='accordion-item'>
            <h2 class='accordion-header' id='{{ afd.prefix_plural }}-header'>
                <button class='accordion-button collapsed' type='button' data-bs-toggle='collapse' data-bs-target='#{{ afd.prefix_plural }}' aria-expanded='false' aria-controls='{{ afd.prefix_plural }}'>
                    {{ afd.plural }}
                </button>
            </h2>
            <div id='{{ afd.prefix_plural }}' class='accordion-collapse collapse' aria-labelledby='{{ afd.prefix_plural }}-header'>
                <div class='accordion-body'>
                    {% if afd.object_form_dicts|length %}
                        <ul class='nav nav-tabs' role='tablist'>
                            {% for fd in afd.object_form_dicts %}
                                {% with tab_id=fd.form.prefix %}
                                    <li class='nav-item' role='presentation'>
                                        <button class='nav-link {% if forloop.first %}active{% endif %}' id='{{ tab_id }}-tab' data-bs-toggle='tab' data-bs-target='#{{ tab_id }}' type='button' role='tab' aria-controls='{{ tab_id }}' aria-selected='{% if forloop.first %}true{% else %}false{% endif %}'>
                                            #{{ forloop.counter }}
                                        </button>
                                    </li>
                                {% endwith %}
                            {% endfor %}
                        </ul>
                        <div class='tab-content'>
                            {% for fd in afd.object_form_dicts %}
                                {% with tab_id=fd.form.prefix %}
                                    <div class='tab-pane fade {% if forloop.first %}show active{% endif %}' id='{{ tab_id }}' role='tabpanel' aria-labelledby='{{ tab_id }}-tab'>
                                        {% include 'server/fields_form.html' with form_dict=fd %}
                                    </div>
                                {% endwith %}
                            {% endfor %}
                        </div>
                    {% else %}
                        No {{ afd.plural }} have been added.
                    {% endif %}
                </div>
            </div>
        </div>
    {% endfor %}
</div>
