{% extends 'server/base.html' %}

{% block header %}
<h2>ProdModules</h2>
{% endblock %}

{% block main %}
    {% for pm in prodmodule_list %}
        <details>
            <summary>{{ pm.ProdCode_Value }}</summary>
            <p>
                <span role='link'>ProdMfr Value:</span> {{ pm.ProdMfr_Value }}<br>
                <span role='link'>ProdCode Value:</span> {{ pm.ProdCode_Value }}<br>
                <span role='link'>Description Value:</span> {{ pm.Description_Value }}<br>
                <span role='link'>CellsInSeries Value:</span> {{ pm.CellsInSeries_Value }}<br>
                <span role='link'>CellStringsParallelQuantity Value:</span> {{ pm.CellStringsParallelQuantity_Value }}<br>
            </p>
            <a href='#' role='button' class='outline'>View Details</a>
        </details>
    {% endfor %}
{% endblock %}
