{% extends 'server/base.html' %}

{% block header %}
<h2>ProdModule {{ prodmodule.ProdID_Value }}</h2>
{% endblock %}

{% block main %}
    <form action='/update/' method='post'>
        {% csrf_token %}
        <ul class='nav nav-tabs' role='tablist'>
            <li class='nav-item' role='presentation'>
                <button class='nav-link active' id='prodmodule-tab' data-bs-toggle='tab' data-bs-target='#prodmodule' type='button' role='tab' aria-controls='prodmodule' aria-selected='true'>ProdModule</button>
            </li>
            <li class='nav-item' role='presentation'>
                <button class='nav-link' id='dimension-tab' data-bs-toggle='tab' data-bs-target='#dimension' type='button' role='tab' aria-controls='dimension' aria-selected='false'>Dimension</button>
            </li>
        </ul>
        <div class='tab-content'>
            <div class='tab-pane fade show active' id='prodmodule' role='tabpanel' aria-labelledby='prodmodule-tab'>
                {% include 'server/fields_table.html' with form=prodmodule_form %}
            </div>
            <div class='tab-pane fade' id='dimension' role='tabpanel' aria-labelledby='dimension-tab'>
                {% include 'server/fields_table.html' with form=dimension_form %}
            </div>
        </div>
    </form>
{% endblock %}
