{% extends 'server/base.html' %}

{% block header %}
<h2>Products</h2>
{% endblock %}

{% block main %}
    {% include 'server/pagination.html' with page=page_products justify_content='justify-content-end' %}
    <table class='table'>
        <thead>
            <tr>
                <th scope='col'>ProdType</th>
                <th scope='col'>ProdMfr</th>
                <th scope='col'>ProdName</th>
                <th scope='col'>ProdCode</th>
                <th scope='col'>Details</th>
            </tr>
        </thead>
        <tbody>
            {% for p in page_products %}
                <tr>
                    <td>{{ p.ProdType_Value }}</td>
                    <td>{{ p.ProdMfr_Value }}</td>
                    <td>{{ p.ProdName_Value }}</td>
                    <td>{{ p.ProdCode_Value }}</td>
                    <td>
                        <a href='/product/{{ p.ProdID_Value }}/' target='_blank' class='btn btn-secondary' type='button'>
                            View Details
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    {% include 'server/pagination.html' with page=page_products justify_content='justify-content-end' %}
{% endblock %}
