{% extends 'server/base.html' %}

{% block header %}
<div class='container mt-3'>
<div class='row'>
    <div class='col'>
        <h1 class='h2'>
            {{ product.elements.ProdMfr.Value }}{% if product.elements.ProdName.Value %}: {{ product.elements.ProdName.Value }}{% endif %}
        </h1>
        <h2 class='h6'>ProdCode: {{ product.elements.ProdCode.Value }}</h2>
    </div>
    <div class='col text-end'>
        <a
            type='button'
            class='btn btn-warning btn-lg ms-5'
            href='{% url 'webpage:product-json' product.elements.ProdID.Value %}'
        >
            <i class='bi bi-download'></i> Download OB JSON
        </a>
    </div>
</div>
</div>
{% endblock %}

{% block main %}
<div class='container mb-5'>
<h2>Product Summary</h2>
{% include 'server/obobject.html' with prefix='summary' obobject=product|obobject_elements_subset:'ProdType,ProdMfr,ProdName,Description,ProdDatasheet,FileFolderURL,ProdCode,ProdID' %}

<h3>Certifications</h3>
{% include 'server/obobject.html' with prefix='summary-certifications' obobject=product|obobject_object_arrays_subset:'ProdCertifications' %}

<h3>Warranties</h3>
{% include 'server/obobject.html' with prefix='summary-warranties' obobject=product|obobject_object_arrays_subset:'Warranties' %}

<h2>All Details</h2>
{% include 'server/obobject.html' with prefix='all-details' obobject=product %}
</div>
{% endblock %}
