{% extends 'server/base.html' %}

{% block header %}
<h2>
    {{ product.ProdMfr_Value }}{% if product.ProdName_Value %}: {{ product.ProdName_Value }}{% endif %}
</h2>
{% endblock %}

{% block main %}
    <table class='table'>
        <thead>
            <tr>
                <th scope='col'>ProdMfr</th>
                <th scope='col'>ProdName</th>
                <th scope='col'>ProdCode</th>
                <th scope='col'>ProdID</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>{{ product.ProdMfr_Value }}</td>
                <td>{{ product.ProdName_Value }}</td>
                <td>{{ product.ProdCode_Value }}</td>
                <td>{{ product.ProdID_Value }}</td>
            </tr>
        </tbody>
    </table>
    <h5>{{ product_form_dict.name }} Fields</h5>
    <form action='/update/' method='post'>
        {% csrf_token %}
        {% include 'server/fields_table.html' with form=product_form_dict.form %}
        <div class='accordion'>
            {% for fd in object_form_dicts %}
                <div class='accordion-item'>
                    <h2 class='accordion-header' id='{{ fd.name | lower }}-header'>
                        <button class='accordion-button collapsed' type='button' data-bs-toggle='collapse' data-bs-target='#{{ fd.name | lower }}' aria-expanded='false' aria-controls='{{ fd.name | lower }}'>
                            {{ fd.name }}
                        </button>
                    </h2>
                    <div id='{{ fd.name | lower }}' class='accordion-collapse collapse' aria-labelledby='{{ fd.name | lower }}-header'>
                        <div class='accordion-body'>
                            {% include 'server/fields_table.html' with form=fd.form %}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </form>
{% endblock %}
