asgiref==3.8.1
Django==5.1.5
django-mysql==4.15.0
djangorestframework==3.15.2
flatten-json==0.1.14
mysqlclient==2.2.7
openpyxl==3.0.10
pandas==2.2.3
pytest-django==4.5.2
six==1.17.0
sqlparse==0.5.3
tqdm==4.64.1
gunicorn==21.2.0
whitenoise==6.6.0