<h4>{{ group_name }}</h4>
<table class='table table-sm table-hover'>
    <thead>
        <!-- <tr> -->
        <!--     <th scope='col'>Field</th> -->
        <!--     <th scope='col'>Value</th> -->
        <!--     <th scope='col'>Unit</th> -->
        <!-- </tr> -->
    </thead>
    <tbody>
    {% for group_name, field_names in form.field_groups.items %}
        <tr><th class='h3' scope='row'>{{ group_name }}</th></tr>
        <tr>
            <th scope='col'>Field</th>
            <th scope='col'>Value</th>
            <th scope='col'>Unit</th>
        </tr>
        {% for name in field_names %}
            {% with field=form|dictkey:name %}
                <tr>
                    <th scope='row'>{{ field.name }}</th>
                    <td class='text-wrap'>{{ field|render_primitive_readonly:'Value' }}</td>
                    <td class='text-wrap'>{{ field|render_primitive_readonly:'Unit' }}</td>
                </tr>
            {% endwith %}
        {% endfor %}
    {% endfor %}
    </tbody>
</table>
